In [1]:
#libraries to import
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [2]:
#Load the dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#Preprocess the data
#Drop irrevalent feature
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
#Encode the categorichal variable
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
data.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [6]:
#OnehotEncode Geography column
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [7]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
#combine ohe with all original dataset
data=pd.concat([data.drop(['Geography'],axis=1),geo_encoder_df],axis=1)

In [10]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [11]:
#Save the encoder into the pickle file
with open ('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open ('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [12]:
#Scale down the feature
scaler=StandardScaler()

In [13]:
#Divide the dataset into indepnedent and dependent feature
X=data.drop('Exited',axis=1)
y=data['Exited']

#split the data into train test split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

#Scale down the feature
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [14]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [15]:
#Save the scaler into pickle file
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

# ANN Implementation

In [21]:
#Fixing the protobuf error

!pip install 'tensorflow=2.9.1'

!pip install keras

!pip install --upgrade "protobuf==3.20.3"

import os
os.environ["PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION"]="python"

In [23]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [24]:
#Build the ANN Model
model=Sequential([Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
                  Dense(32,activation='relu'),
                  Dense(1,activation='sigmoid')
                 ]
)

In [26]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [28]:
#Using optimizer as Adam
opt=tf.keras.optimizers.Adam(learning_rate=0.01)

In [29]:
#Compile the model to do forward and backward propagagtion
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [31]:
#Setup the tensorboard(to capture the logs and visualise it)
log_dir='logs/fit'+datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
log_dir

'logs/fit20240924-121901'

In [35]:
#import earlystopping and tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [36]:
# we use early stopping to tell our model that if it is not minimising the loss after certain epoch please stop and give us the value
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [39]:
#Training the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 5ms/step - loss: 0.4009 - accuracy: 0.8384 - val_loss: 0.3531 - val_accuracy: 0.8530
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3554 - accuracy: 0.8562 - val_loss: 0.3620 - val_accuracy: 0.8515
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3497 - accuracy: 0.8561 - val_loss: 0.3544 - val_accuracy: 0.8595
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3445 - accuracy: 0.8586 - val_loss: 0.3410 - val_accuracy: 0.8600
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3417 - accuracy: 0.8606 - val_loss: 0.3439 - val_accuracy: 0.8560
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3372 - accuracy: 0.8615 - val_loss: 0.3526 - val_accuracy: 0.8600
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3399 - accuracy: 0.8621 - val_loss: 0.3545 - val_accuracy: 0.8515
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3306 - accuracy: 0.8634 - val_loss: 0.3444 - val_accuracy: 0.8575
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3319 - accuracy: 0.8620 - val_loss: 0.3362 - val_accuracy: 0.8645
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3288 - accuracy: 0.8633 - val_loss: 0.3350 - val_accuracy: 0.8625
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3288 - accuracy: 0.8631 - val_loss: 0.3464 - val_accuracy: 0.8625
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3259 - accuracy: 0.8644 - val_loss: 0.3506 - val_accuracy: 0.8530
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3237 - accuracy: 0.8675 - val_loss: 0.3504 - val_accuracy: 0.8620
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3208 - accuracy: 0.8659 - val_loss: 0.3519 - val_accuracy: 0.8595
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3229 - accuracy: 0.8654 - val_loss: 0.3728 - val_accuracy: 0.8610

In [40]:
#Save the model
model.save('ANN_Model.h5')

In [68]:
#Load the Tensorboard extension
import time
import subprocess
logs_base_dir ='logs/fit20240924-121901' #path to your run logs#
ls_output = subprocess.Popen(["tensorboard", "--logdir", logs_base_dir, 
                              "--port", "6006"])
# patch to wait process
time.sleep(30)
# Load the TensorBoard notebook extension
%reload_ext tensorboard
%tensorboard --logdir {logs_base_dir} --port 8002

Reusing TensorBoard on port 8002 (pid 24416), started 4:10:40 ago. (Use '!kill 24416' to kill it.)

In [77]:
from tensorflow.keras.models import load_model
#Load the trained model, scaler pickle file and onehot encoded pickle file
model=load_model("ANN_Model.h5")
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)
with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [91]:
#Example input data to check the model performance
input_data={
        'CreditScore':600,
        'Geography':'France',
        'Gender':'Male',
        'Age':30,
        'Tenure':3,
        'Balance':60000,
        'NumOfProducts':2,
        'HasCrCard':1,
        'IsActiveMember':1,
        'EstimatedSalary':50000
}
input_df=pd.DataFrame([input_data])

In [92]:
#using onehot encoding on Geography column 
geo_encoded=label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))

C:\Users\H896772\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [93]:
#combining one hot encoder column with input data
input_df=pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)

In [94]:
#Convert the Gender column
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,1,30,3,60000,2,1,1,50000,1.0,0.0,0.0

In [95]:
#Drop the Geography column
input_df=input_df.drop('Geography',axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,30,3,60000,2,1,1,50000,1.0,0.0,0.0

In [96]:
#Scaling the input data
input_scaled=scaler.transform(input_df)

In [98]:
#Predict Churn
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 36ms/step

array([[0.01070068]], dtype=float32)

In [99]:
#check the probability of the prediction
prediction_prob=prediction[0][0]
prediction_prob

0.01070068

In [102]:
if prediction_prob>0.5:
    print('The Customer is likely to churn')
else:
    print('The Customer is not likely to churn')

The Customer is not likely to churn